.split {
    height: 100%;
    width: 100%;
    position: fixed;
    /* z-index: -1; */
    top: 0;
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
.left {
    width: 30%;
    left: 0;
    background-image: url("https://th.bing.com/th/id/OIP.HfdB1Npz2uhF8DZyRZgBIQHaQD?pid=ImgDet&w=1080&h=2340&rs=1");
   background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: solid white 5px;
    border-radius: 5px;
    border-width: 3px;
}
.right {
    width: 70%;
    right: 0;
  }
  .scorebox{
    margin-top: 10px;
    margin-bottom: 10px;
    width:200px;
    height: 70px;
    background-color: white;
    border-radius: 40px;
  }
 .display{
    background-color: white;
 }
 .card{
    height: 350px ;
    width: 250px;
    border: solid;
    border-radius: 20px;
    background-image: url("./images/sabo.png");
    background-size: 260px 350px;

 }
 .desc{
    width: 250px;
    height: 150px;
    border: solid; 
    border-radius: 25px;
    background-color: transparent;
 }
 #rightside{
    background-image: url("https://th.bing.com/th/id/R.6d2d6f68073cf24172b8d25876f1cf85?rik=lYClKNQNRKco0w&pid=ImgRaw&r=0");
    background-size:cover;
    border: solid white 5px;
    border-radius: 5px;
    border-width: 3px;
 }